img {
    max-width: 300px;
    height: 100px;
    display: block;
    margin: 0 0 20px;
    float: justify;
}
img {
    max-width: 300px;
    height: 100px;
    display: block;
    margin: 20px auto 20px auto;
    float: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande' ;
    text-align: center;
}
body {
    background-color: rgb(243, 242, 243);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande' ;
    text-align: center;
}
.btn {
    background-color: rgb(26, 7, 26);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: justify;
    border-radius: 20px;
}
